<app-header></app-header>


<main role="main" class="container pt-3">
    <div id="intro" class="text-center">
        <h1 class="mt-5">Mostrar listado de issues de un repositorio</h1>
        <app-search></app-search>
    </div>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>


