<ng-container *ngIf="repoData != undefined"> 

  <div class="row">
    <div class="col-sm col-md-6">
        <h5>Repositorio: {{ repoData.full_name }}</h5>
    </div>

    <div class="col-sm col-md-6 text-right" >
        <h6 class="text-muted " *ngIf="repoData.has_issues === true">Se han encontrado {{ repoData.open_issues_count }} issues , página {{ currentPage }} </h6>
      </div>
  </div>


  <div class="row">
    
      <div class="repoInfo col-sm col-md-6">
        <h6>{{ repoData.description }}</h6>
      </div>

      <div class="col-sm col-md6 text-right float-right">
          <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Previous" (click)="paginate('prev')">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li> 
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" (click)="paginate('next')">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
      
  </div> 

</ng-container>

<ng-container *ngIf="issues != undefined && issues.length >= 1 ; else elseTemplate">
  <div class="card mt-2 animated fadein fast" *ngFor="let issue of issues" >
    <div class="card-header">
      <h5 class="card-title"><a [href]="issue.html_url" target="__blank"> {{issue.title }}  {{ issue.id }} </a></h5>
      <h6 class="card-subtitle text-muted">Estado: {{ issue.state }} </h6>
    </div>
    <div class="card-body">
      <p>{{ issue.body != "" ?  ( issue.body | truncate: 300 : false : "..." ) : "Oops! Este issue se ha abierto sin descripción :( "  }} </p>
      <p> 

      </p>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-sm-6">Comentarios: {{ issue.comments }} </div>
        <div class="col-sm-6 text-right"> 
            <label class="text-muted">Abierta en: {{ issue.created_at }} </label>
            <label class="text-muted"*ngIf="issue.state == 'closed'"> Cerrada el {{ issue.closed_at }}</label>  
        </div>
      </div>
    </div>
  </div>

</ng-container> 

<ng-template #elseTemplate> 
  <div class="alert alert-warning" role="alert">
    No se han encontrado issues abiertas en este repositorio!
  </div>
</ng-template> 
  


