<div class="d-flex mb-5 search col-sm col-md-6 mx-auto">
    <input type="text" class="form-control" placeholder="Introduce una URL aquí" #repo >
    <button type="button" value="Buscar" (click)="search(repo.value)" class="btn btn-primary">Buscar</button>
</div>